# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.run.xml

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/
__pycache__/
*.pyc

# Archives and temporary
*.zip
*.tar
*.gz

# Ignore temporary files created by some editors
*~
*.swp

# Datos generados / pesados (Recursos)
Recursos/8e1_buildings.csv
Recursos/8e3_buildings.csv
Recursos/8e5_buildings.csv
Recursos/8e7_buildings.csv
Recursos/8e9_buildings.csv
Recursos/8ef_buildings.csv

# Todos los GeoJSON de Microsoft
Recursos/microsoft_geojson/*.geojson
